<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body style="font-family:Helvetica, Arial, sans-serif;background-color:#ffffff;">

    <table cellpadding="0" width="100%" cellspacing="0" border="0" id="backgroundTable" class='bgBody'>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="border-collapse:collapse;max-width:648px;">
                    <tr>
                        <td class='movableContentContainer'>

                            <div class='movableContent'>
                                <table cellpadding="0" cellspacing="0" border="0" align="center">
                                    <tr height="40">
                                        <td width="200">&nbsp;</td>
                                        <td width="200">&nbsp;</td>
                                        <td width="200">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="200" valign="top">&nbsp;</td>
                                        <td width="200" valign="top" align="center">
                                            <div class="contentEditableContainer contentTextEditable">
                                                <div class="contentEditable" style="font-family: Helvetica, Arial, sans-serif;font-size: 32px;white-space: nowrap;color: #000;padding-top:30px;">
                                                    <img src="https://103.79.223.61:2562/assets/images/logo.svg
" alt="" style="max-width:234px" />

                                                </div>
                                            </div>
                                        </td>
                                        <td width="200" valign="top">&nbsp;</td>
                                    </tr>
                                    <tr height="25">
                                        <td width="200">&nbsp;</td>
                                        <td width="200">&nbsp;</td>
                                        <td width="200">&nbsp;</td>
                                    </tr>
                                </table>
                            </div>

                            <div class='movableContent'>
                                <table cellpadding="0" cellspacing="0" border="0" align="center">
                                    <tr>
                                        <td width="100%" colspan="3" align="center" style="padding-bottom:10px;padding-top:25px;">
                                            <div class="contentEditableContainer contentTextEditable">
                                                <div class="contentEditable">
                                                    <!--<h2 style="color:#000;font-weight:normal;margin-bottom:0px;">Dear {UserName}</h2>-->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td align="center" style="padding-bottom:5px;">
                                            <div class="contentEditableContainer contentTextEditable">
                                                <div class="contentEditable">
                                                    <p style="line-height:27px;">Hi {{context_data.Name}}</p>
                                                    <p style="line-height:27px;">Thanks for using good 'n happy.We really appreciate you to using good 'n happy for your health-related activities</p>
                                                    <p style="line-height:27px;">We invite your attention to our educational videos. Please click on the below link to view our latest video.</p>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                </table>
                            </div>

                            <div class='movableContent'>
                                <table cellpadding="0" cellspacing="0" border="0" align="center">
                                    <tr>
                                        <td width="100">&nbsp;</td>
                                        <td width="400" align="center" style="padding-top:25px;padding-bottom:4px;">
                                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="200" height="40">
                                                <tr>
                                                    <td bgcolor="#000" align="center" style="border-radius:4px;" width="200" height="40">
                                                        <div class="contentEditableContainer contentTextEditable" style=" width:250px; height: 150px; object-fit: cover; overflow: hidden;background: #fff">
                                                        <a href={{context_data.educational_video}}>
                                                            <img src={{context_data.thumb_image_path}} width="250" height="150" >

                                                                </a>

                                                        </div>
                                                        <div style="background: #fff">
                                                          <a style="background: #fff;margin-top: 15px"> {{context_data.educational_name}} </a>
                                                        </div>

                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td width="100">&nbsp;</td>
                                    </tr>
                                </table>
                            </div>


                            <div class='movableContent'>
                                <table cellpadding="0" cellspacing="0" border="0" align="left">

                                    <tr>

                                        <td align="left" style="padding-bottom:5px;">
                                            <div class="contentEditableContainer contentTextEditable">
                                                <div class="contentEditable">
                                                    <p style="line-height:27px;font-size: 13px;">
                                                        Thanks, <br />
                                                        Good 'n Happy team
                                                    </p>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- END BODY -->

            </td>
        </tr>
    </table>
    <!-- End of wrapper table -->
</body>
</html>
